# Importing necessary libraries

In [ ]:
import pandas as pd
import numpy as np
import math

from google.colab import drive
drive.mount('/content/drive')

pd.options.display.max_rows = 999

Mounted at /content/drive

# Reading the data

In [ ]:
books = pd.read_csv('/content/drive/My Drive/Colab Notebooks/books_data.csv')

In [ ]:
books.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 212404 entries, 0 to 212403
Data columns (total 10 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   Title          212403 non-null  object
 1   description    143962 non-null  object
 2   authors        180991 non-null  object
 3   image          160329 non-null  object
 4   previewLink    188568 non-null  object
 5   publisher      136518 non-null  object
 6   publishedDate  187099 non-null  object
 7   infoLink       188568 non-null  object
 8   categories     171205 non-null  object
 9   ratingsCount   49752 non-null   float64
dtypes: float64(1), object(9)
memory usage: 16.2+ MB

In [ ]:
books.isna().sum()/books.shape[0]

Title            0.000005
description      0.322226
authors          0.147893
image            0.245170
previewLink      0.112220
publisher        0.357272
publishedDate    0.119136
infoLink         0.112220
categories       0.193965
ratingsCount     0.765767
dtype: float64

In [ ]:
ratings = pd.read_csv('/content/drive/My Drive/Colab Notebooks/Books_rating.csv')

In [ ]:
ratings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3000000 entries, 0 to 2999999
Data columns (total 10 columns):
 #   Column              Dtype
---  ------              -----
 0   Id                  object
 1   Title               object
 2   Price               float64
 3   User_id             object
 4   profileName         object
 5   review/helpfulness  object
 6   review/score        float64
 7   review/time         int64
 8   review/summary      object
 9   review/text         object
dtypes: float64(2), int64(1), object(7)
memory usage: 228.9+ MB

In [ ]:
ratings.head()

,Id,Title,Price,User_id,profileName,review/helpfulness,review/score,review/time,review/summary,review/text
0,1882931173,Its Only Art If Its Well Hung!,NaN,AVCGYZL8FQQTD,"Jim of Oz ""jim-of-oz""",7/7,4.0,940636800,Nice collection of Julie Strain images,This is only for Julie Strain fans. It's a col...
1,0826414346,Dr. Seuss: American Icon,NaN,A30TK6U7DNS82R,Kevin Killian,10/10,5.0,1095724800,Really Enjoyed It,I don't care much for Dr. Seuss but after read...
2,0826414346,Dr. Seuss: American Icon,NaN,A3UH4UZ4RSVO82,John Granger,10/11,5.0,1078790400,Essential for every personal and Public Library,"If people become the books they read and if ""t..."
3,0826414346,Dr. Seuss: American Icon,NaN,A2MVUWT453QH61,"Roy E. Perry ""amateur philosopher""",7/7,4.0,1090713600,Phlip Nel gives silly Seuss a serious treatment,"Theodore Seuss Geisel (1904-1991), aka &quot;D..."
4,0826414346,Dr. Seuss: American Icon,NaN,A22X4XUPKF66MR,"D. H. Richards ""ninthwavestore""",3/3,4.0,1107993600,Good academic overview,Philip Nel - Dr. Seuss: American IconThis is b...

# Cleaning Books

In [ ]:
books.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 212404 entries, 0 to 212403
Data columns (total 10 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   Title          212403 non-null  object
 1   description    143962 non-null  object
 2   authors        180991 non-null  object
 3   image          160329 non-null  object
 4   previewLink    188568 non-null  object
 5   publisher      136518 non-null  object
 6   publishedDate  187099 non-null  object
 7   infoLink       188568 non-null  object
 8   categories     171205 non-null  object
 9   ratingsCount   49752 non-null   float64
dtypes: float64(1), object(9)
memory usage: 16.2+ MB

In [ ]:
books['Title'].isna().sum()

1

In [ ]:
books = books.drop(books[books['Title'].isna()].index)
books['Title'].isna().sum()

0

In [ ]:
authors_as_str = books.authors.apply(lambda x: str(x))

In [ ]:
books.authors = authors_as_str

def pomocna(losalista):
  dobralista = []
  dobralista = [a.strip('[\'\"]') for a in losalista]
  return dobralista

books.authors = books.authors.apply(lambda x: pomocna(x.split(", ")) if x != 'nan' else None)

In [ ]:
books.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 212403 entries, 0 to 212403
Data columns (total 10 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   Title          212403 non-null  object
 1   description    143962 non-null  object
 2   authors        180990 non-null  object
 3   image          160328 non-null  object
 4   previewLink    188567 non-null  object
 5   publisher      136518 non-null  object
 6   publishedDate  187098 non-null  object
 7   infoLink       188567 non-null  object
 8   categories     171205 non-null  object
 9   ratingsCount   49751 non-null   float64
dtypes: float64(1), object(9)
memory usage: 17.8+ MB

In [ ]:
books.drop('image', axis=1, inplace=True)
books.drop('previewLink', axis=1, inplace=True)
books.drop('infoLink', axis=1, inplace=True)

In [ ]:
categories_as_str = books['categories'].astype('string')

In [ ]:
books.categories = categories_as_str

books.categories = books.categories.apply(lambda x: x.strip('[\'\"]') if isinstance(x, pd._libs.missing.NAType) == False else None)

In [ ]:
books['categories'] = books['categories'].astype('string')

In [ ]:
books.duplicated(subset='Title').sum() #nema duplikata

0

In [ ]:
books.shape

(212403, 7)

In [ ]:
books['Title'] = books['Title'].astype('string')

In [ ]:
books.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 212403 entries, 0 to 212403
Data columns (total 7 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   Title          212403 non-null  string
 1   description    143962 non-null  object
 2   authors        180990 non-null  object
 3   publisher      136518 non-null  object
 4   publishedDate  187098 non-null  object
 5   categories     171205 non-null  string
 6   ratingsCount   49751 non-null   float64
dtypes: float64(1), object(4), string(2)
memory usage: 13.0+ MB

In [ ]:
description_as_str = books['description'].astype('string')

In [ ]:
books.description = description_as_str

books.description = books.description.apply(lambda x: x if isinstance(x, pd._libs.missing.NAType) == False else None)

In [ ]:
books['description'] = books['description'].astype('string')

In [ ]:
print(f"Duplicated:\t{books.duplicated(subset='publisher').sum()}")
print(f"Unique:\t\t{books.publisher.nunique()}")
print(f"NA:\t\t{books.publisher.isna().sum()}")

Duplicated:	196386
Unique:		16016
NA:		75885

In [ ]:
publisher_as_str = books['publisher'].astype('string')

In [ ]:
books.publisher = publisher_as_str
books.publisher = books.publisher.apply(lambda x: x if isinstance(x, pd._libs.missing.NAType) == False else None)

In [ ]:
books['publisher'] = books['publisher'].astype('string')

In [ ]:
print(f"Duplicated:\t{books.duplicated(subset='publishedDate').sum()}")
print(f"Unique:\t\t{books.publishedDate.nunique()}")
print(f"NA:\t\t{books.publishedDate.isna().sum()}")

Duplicated:	200820
Unique:		11582
NA:		25305

In [ ]:
books['publishedDate'] = books['publishedDate'].apply(lambda x: x if isinstance(x, float) == False else None)

Spajanje imena i prezimena autora

In [ ]:
prvih_40 = books.head(40)

In [ ]:
def concatenate_column(column):
  try:
    def clean_text(author):
        names = author.split(' ')
        cleaned_names = [name.lower() for name in names]
        return ''.join(cleaned_names)

    concatenated_text = ' '.join(clean_text(obj) for obj in column)
    return concatenated_text
  except TypeError:
    pass
prvih_40['authors'] = prvih_40['authors'].apply(concatenate_column)

<ipython-input-32-9275d0245794>:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  prvih_40['authors'] = prvih_40['authors'].apply(concatenate_column)

In [ ]:
prvih_40['authors'] #test

0                                           juliestrain
1                                             philipnel
2                                            davidr.ray
3                                        veronicahaddon
4                                            edwardlong
5                                       everettferguson
6                                     miriamallendeford
7                                           leeblessing
8                                    maryfabyanwindeatt
9                                         stevenwardell
10                       camilliafawziel-solh judymabro
11                                   armandosaldaa-mora
12                                  evelynb.christensen
13                             allengersho robertm.gray
14                                            frankowen
15                                           barrycrump
16                                          fionacownie
17                                     rochellegurstein
18                                      kennethh.cooper
19                                           ruthallman
20                                           robertkane
21    dorlingkindersleypublishingstaff jonathanbousf...
22                                           howardhill
23                                                   dk
24                                   soniarivera-valdes
25                                        arthurj.droge
26                                         donaldlaming
27                                          johnt.morse
28                                      steverichardson
29                                           johnadrian
30                              nationalportraitgallery
31                                           rupertfike
32                                           e.b.harvey
33                                      stefandraminski
34                                 raymondcharlesbarker
35                                                 None
36               lorenzbooks margaretmalone pauljackson
37                                      kristinramsdell
38                               nationalgeographicmaps
39                                        jeffreym.bale
Name: authors, dtype: object

In [ ]:
books['authors'].isna().sum()

31413

In [ ]:

books['authors'] = books['authors'].apply(concatenate_column)

In [ ]:
books['authors']

0                          juliestrain
1                            philipnel
2                           davidr.ray
3                       veronicahaddon
4                           edwardlong
                      ...
212399                  elvirawoodruff
212400                            None
212401                 wildwildcabbage
212402                      zadiesmith
212403    davidb.johnson thomasa.mowry
Name: authors, Length: 212403, dtype: object

In [ ]:
books['publishedDate'] = books['publishedDate'].apply(lambda x: x.strip('*?') if not x == None else None)
books['publishedYear'] = books['publishedDate'].apply(lambda x: x[0:4] if not x == None else None)

indices = books[
    (books['publishedYear'] == '101-') |
     (books['publishedYear'] == '16') |
      (books['publishedYear'] == '17') |
       (books['publishedYear'] == '18') |
        (books['publishedYear'] == '19')].index

books.drop(labels=indices, inplace=True)

books['publishedYear'] = books['publishedYear'].apply(lambda x: int(x) if not x == None else 0)

books['publishedYear'] = books['publishedYear'].astype(int)

books.drop(labels='publishedDate', axis=1, inplace=True)

books.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 212345 entries, 0 to 212403
Data columns (total 7 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   Title          212345 non-null  string
 1   description    143945 non-null  string
 2   authors        180946 non-null  object
 3   publisher      136504 non-null  string
 4   categories     171171 non-null  string
 5   ratingsCount   49748 non-null   float64
 6   publishedYear  212345 non-null  int64
dtypes: float64(1), int64(1), object(1), string(4)
memory usage: 13.0+ MB

In [ ]:
books.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 212345 entries, 0 to 212403
Data columns (total 7 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   Title          212345 non-null  string
 1   description    143945 non-null  string
 2   authors        180946 non-null  object
 3   publisher      136504 non-null  string
 4   categories     171171 non-null  string
 5   ratingsCount   49748 non-null   float64
 6   publishedYear  212345 non-null  int64
dtypes: float64(1), int64(1), object(1), string(4)
memory usage: 13.0+ MB

In [ ]:
books.head()

,Title,description,authors,publisher,categories,ratingsCount,publishedYear
0,Its Only Art If Its Well Hung!,<NA>,juliestrain,<NA>,Comics & Graphic Novels,NaN,1996
1,Dr. Seuss: American Icon,Philip Nel takes a fascinating look into the k...,philipnel,A&C Black,Biography & Autobiography,NaN,2005
2,Wonderful Worship in Smaller Churches,This resource includes twelve principles in un...,davidr.ray,<NA>,Religion,NaN,2000
3,Whispers of the Wicked Saints,Julia Thomas finds her life spinning out of co...,veronicahaddon,iUniverse,Fiction,NaN,2005
4,"Nation Dance: Religion, Identity and Cultural ...",<NA>,edwardlong,<NA>,<NA>,NaN,2003

In [ ]:
books['description'].isna().sum()

68400

In [ ]:
books.to_csv('books_clean.csv', index=False, na_rep='')

In [ ]:
books_clean = pd.read_csv('books_clean.csv',na_values='NaN')

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
books_clean

,Title,description,authors,publisher,categories,ratingsCount,publishedYear
0,Its Only Art If Its Well Hung!,NaN,juliestrain,NaN,Comics & Graphic Novels,NaN,1996
1,Dr. Seuss: American Icon,Philip Nel takes a fascinating look into the k...,philipnel,A&C Black,Biography & Autobiography,NaN,2005
2,Wonderful Worship in Smaller Churches,This resource includes twelve principles in un...,davidr.ray,NaN,Religion,NaN,2000
3,Whispers of the Wicked Saints,Julia Thomas finds her life spinning out of co...,veronicahaddon,iUniverse,Fiction,NaN,2005
4,"Nation Dance: Religion, Identity and Cultural ...",NaN,edwardlong,NaN,NaN,NaN,2003
...,...,...,...,...,...,...,...
212340,The Orphan Of Ellis Island (Time Travel Advent...,"During a school trip to Ellis Island, Dominick...",elvirawoodruff,Scholastic Paperbacks,Juvenile Fiction,2.0,2000
212341,Red Boots for Christmas,Everyone in the village of Friedensdorf is hap...,NaN,NaN,Juvenile Fiction,NaN,1995
212342,Mamaw,"Give your Mamaw a useful, beautiful and though...",wildwildcabbage,NaN,NaN,NaN,2018
212343,The Autograph Man,Alex-Li Tandem sells autographs. His business ...,zadiesmith,Vintage,Fiction,19.0,2003
212344,Student's Solutions Manual for Johnson/Mowry's...,Discover the many ways mathematics is relevant...,davidb.johnson thomasa.mowry,Brooks/Cole Publishing Company,NaN,NaN,1998

In [ ]:
isinstance(books_clean.description[0], float)

True

# Cleaning Ratings

In [ ]:
ratings[ratings['Title'].isna()].index

Int64Index([  13110,  358889,  358890,  358891,  432033,  432034,  432035,
            1278692, 1278693, 1278694,
            ...
            2682927, 2682928, 2826586, 2826587, 2826588, 2826589, 2826590,
            2826591, 2826592, 2826593],
           dtype='int64', length=208)

In [ ]:
ratings = ratings.drop(ratings[ratings['Title'].isna()].index)

In [ ]:
ratings[ratings['Title'].isna()].index

Int64Index([], dtype='int64')

In [ ]:
ratings.shape

(2999792, 10)

In [ ]:
ratings['Title'].unique().size

212403

In [ ]:
ratings.dtypes

Id                     object
Title                  object
Price                 float64
User_id                object
profileName            object
review/helpfulness     object
review/score          float64
review/time             int64
review/summary         object
review/text            object
dtype: object

In [ ]:
ratings['Title'] = ratings['Title'].astype('string')

In [ ]:
ratings.dtypes

Id                     object
Title                  string
Price                 float64
User_id                object
profileName            object
review/helpfulness     object
review/score          float64
review/time             int64
review/summary         object
review/text            object
dtype: object

In [ ]:
ratings['review/helpfulness'] = ratings['review/helpfulness'].apply(lambda x: x.split('/'))

In [ ]:
ratings['review/helpfulness'] = ratings['review/helpfulness'].apply(lambda x: [eval(x[0]), eval(x[1])])

In [ ]:
ratings['review/helpfulness'][0]

[7, 7]

In [ ]:
ratings['review/helpfulness'] = ratings['review/helpfulness'].apply(lambda x: x[0]/x[1] if x[1] != 0 else None)

In [ ]:
ratings.loc[1,'review/text']

"I don't care much for Dr. Seuss but after reading Philip Nel's book I changed my mind--that's a good testimonial to the power of Rel's writing and thinking. Rel plays Dr. Seuss the ultimate compliment of treating him as a serious poet as well as one of the 20th century's most interesting visual artists, and after reading his book I decided that a trip to the Mandeville Collections of the library at University of California in San Diego was in order, so I could visit some of the incredible Seuss/Geisel holdings they have there.There's almost too much to take in, for, like William Butler Yeats, Seuss led a career that constantly shifted and metamoprhized itself to meet new historical and political cirsumstances, so he seems to have been both a leftist and a conservative at different junctures of his career, both in politics and in art. As Nel shows us, he was once a cartoonist for the fabled PM magazine and, like Andy Warhol, he served his time slaving in the ad business too. All was in the service of amusing and broadening the minds of US children. Nel doesn't hesitate to administer a sound spanking to the Seuss industry that, since his death, has seen fit to license all kinds of awful products including the recent CAT IN THE HAT film with Mike Myers. Oh, what a cat-astrophe!The book is great and I can especially recommend the work of the picture editor who has given us a bounty of good illustrations."

In [ ]:
ratings.iloc[1,]

Id                                                           0826414346
Title                                          Dr. Seuss: American Icon
Price                                                               NaN
User_id                                                  A30TK6U7DNS82R
profileName                                               Kevin Killian
review/helpfulness                                                  1.0
review/score                                                        5.0
review/time                                                  1095724800
review/summary                                        Really Enjoyed It
review/text           I don't care much for Dr. Seuss but after read...
Name: 1, dtype: object

In [ ]:
ratings.loc[1,'review/summary']

'Really Enjoyed It'

In [ ]:
ratings['review/helpfulness']

0          1.000000
1          1.000000
2          0.909091
3          1.000000
4          1.000000
             ...
2999995    0.736842
2999996    1.000000
2999997         NaN
2999998    0.090909
2999999    0.142857
Name: review/helpfulness, Length: 2999792, dtype: float64

In [ ]:
ratings['Price'].isna().sum() #brisem ovu kolonu

2518628

In [ ]:
ratings.drop('Price', axis = 1, inplace = True)

In [ ]:
ratings.drop('profileName', axis=1, inplace = True)

In [ ]:
ratings.columns

Index(['Id', 'Title', 'User_id', 'review/helpfulness', 'review/score',
       'review/time', 'review/summary', 'review/text'],
      dtype='object')

In [ ]:
ratings.rename(columns={'Id':'book_id','User_id':'user_id','review/score':'rating','Title':'title','review/text':'review', 'review/helpfulness' :'helpfulness','review/time' :'time', 'review/summary' :'summary' },inplace=True)

In [ ]:
ratings.head(2)

,book_id,title,user_id,helpfulness,rating,time,summary,review
0,1882931173,Its Only Art If Its Well Hung!,AVCGYZL8FQQTD,1.0,4.0,940636800,Nice collection of Julie Strain images,This is only for Julie Strain fans. It's a col...
1,0826414346,Dr. Seuss: American Icon,A30TK6U7DNS82R,1.0,5.0,1095724800,Really Enjoyed It,I don't care much for Dr. Seuss but after read...

In [ ]:
x = ratings.groupby('user_id').count()['rating']>250

considerable_users = x[x].index

In [ ]:
filtered_rating = ratings[ratings['user_id'].isin(considerable_users)]

filtered_rating

,book_id,title,user_id,helpfulness,rating,time,summary,review
1,0826414346,Dr. Seuss: American Icon,A30TK6U7DNS82R,1.000000,5.0,1095724800,Really Enjoyed It,I don't care much for Dr. Seuss but after read...
6,0826414346,Dr. Seuss: American Icon,A14OJS0VWMOSWO,0.750000,5.0,1100131200,A memorably excellent survey of Dr. Seuss' man...,Theodor Seuss Giesel was best known as 'Dr. Se...
59,0963923080,Rising Sons and Daughters: Life Among Japan's ...,A3NIQK6ZLYEP1L,NaN,4.0,1239667200,Almost a day by day view,Steven Wardell went to Japan without reading a...
140,0789480662,Eyewitness Travel Guide to Europe,A281NPSIMI1C2R,1.000000,5.0,1023235200,The Major Sights in Twenty Countries - Amazing!,"Yes, this is one heavy book. It is more than l..."
176,1884734766,Dealing With Disappointment: Helping Kids Cope...,A14OJS0VWMOSWO,0.941176,5.0,1081814400,Filled from cover to cover with practical guid...,Written by Elizabeth Crary (a parent educator ...
...,...,...,...,...,...,...,...,...
2999892,0425200736,Echoes (Berkley Sensation),AFVQZQ8PW0L,0.800000,5.0,1099180800,Engaging romantic suspense,"Mountain Bend, California elementary school pr..."
2999935,0786182431,Very Bad Deaths: Library Edition,A2CR57GAJKNWVV,0.750000,4.0,1106956800,Thoughtful and Powerful,Russell Walker wants to be left alone to die--...
2999937,0786182431,Very Bad Deaths: Library Edition,A1I2O9Y3X3HXLS,1.000000,5.0,1230595200,The Perils of Telepathy,Very Bad Deaths (2004) is the first SF novel i...
2999949,0786182431,Very Bad Deaths: Library Edition,AFVQZQ8PW0L,0.714286,5.0,1103846400,fantastic paranormal serial killer tale,"Fiftyish Canadian Russell Walker writes ""The F..."
2999979,B00085PL4C,"Old Quebec,: The fortress of New France,",A32ZKBXJJ45BRY,0.666667,3.0,1097452800,Showing Its Age,"""Old Quebec: Fortress Of New France"" is a repr..."

# Book Recommendation System

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

pd.options.display.max_rows = 999

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
books = pd.read_csv('/content/drive/My Drive/Colab Notebooks/books_data.csv')

In [ ]:
s = str(books[books['Title']=='To Kill a Mockingbird']['description'])
s

"171738    Harper Lee's classic novel of a lawyer in the ...\nName: description, dtype: object"

In [ ]:
books[books['Title']=='To kill a mockingbird']['description']

96169    Voted America's Best-Loved Novel in PBS's The ...
Name: description, dtype: object

In [ ]:
ratings = pd.read_csv('/content/drive/My Drive/Colab Notebooks/Books_rating.csv')

In [ ]:
ratings.head(3)

,Id,Title,Price,User_id,profileName,review/helpfulness,review/score,review/time,review/summary,review/text
0,1882931173,Its Only Art If Its Well Hung!,NaN,AVCGYZL8FQQTD,"Jim of Oz ""jim-of-oz""",7/7,4.0,940636800,Nice collection of Julie Strain images,This is only for Julie Strain fans. It's a col...
1,0826414346,Dr. Seuss: American Icon,NaN,A30TK6U7DNS82R,Kevin Killian,10/10,5.0,1095724800,Really Enjoyed It,I don't care much for Dr. Seuss but after read...
2,0826414346,Dr. Seuss: American Icon,NaN,A3UH4UZ4RSVO82,John Granger,10/11,5.0,1078790400,Essential for every personal and Public Library,"If people become the books they read and if ""t..."

In [ ]:
ratings.rename(columns={'Id':'book_id', 'User_id':'user_id', 'review/helpfulness':'helpfulness', 'review/score':'rating', 'review/text': 'review'}, inplace=True)

In [ ]:
ratings.rename(columns={'Title':'book_title'}, inplace=True)

In [ ]:
ratings.drop(['review/time','review/summary', 'Price'] , axis=1, inplace=True)

In [ ]:
ratings.drop('profileName', axis=1, inplace=True)

In [ ]:
ratings['helpfulness'] = ratings['helpfulness'].apply(lambda x: x.split('/'))
ratings['helpfulness'] = ratings['helpfulness'].apply(lambda x: [eval(x[0]), eval(x[1])])
ratings['helpfulness'] = ratings['helpfulness'].apply(lambda x: x[0]/x[1] if x[1] != 0 else None)

In [ ]:
ratings.head()

,book_id,book_title,user_id,helpfulness,rating,review
0,1882931173,Its Only Art If Its Well Hung!,AVCGYZL8FQQTD,1.000000,4.0,This is only for Julie Strain fans. It's a col...
1,0826414346,Dr. Seuss: American Icon,A30TK6U7DNS82R,1.000000,5.0,I don't care much for Dr. Seuss but after read...
2,0826414346,Dr. Seuss: American Icon,A3UH4UZ4RSVO82,0.909091,5.0,"If people become the books they read and if ""t..."
3,0826414346,Dr. Seuss: American Icon,A2MVUWT453QH61,1.000000,4.0,"Theodore Seuss Geisel (1904-1991), aka &quot;D..."
4,0826414346,Dr. Seuss: American Icon,A22X4XUPKF66MR,1.000000,4.0,Philip Nel - Dr. Seuss: American IconThis is b...

In [ ]:
x = ratings.groupby('user_id').count()['rating'] > 250
considerable_users = x[x].index

In [ ]:
filtered_rating = ratings[ratings['user_id'].isin(considerable_users)]

In [ ]:
filtered_rating

,book_id,book_title,user_id,helpfulness,rating,review
1,0826414346,Dr. Seuss: American Icon,A30TK6U7DNS82R,1.000000,5.0,I don't care much for Dr. Seuss but after read...
6,0826414346,Dr. Seuss: American Icon,A14OJS0VWMOSWO,0.750000,5.0,Theodor Seuss Giesel was best known as 'Dr. Se...
59,0963923080,Rising Sons and Daughters: Life Among Japan's ...,A3NIQK6ZLYEP1L,NaN,4.0,Steven Wardell went to Japan without reading a...
140,0789480662,Eyewitness Travel Guide to Europe,A281NPSIMI1C2R,1.000000,5.0,"Yes, this is one heavy book. It is more than l..."
176,1884734766,Dealing With Disappointment: Helping Kids Cope...,A14OJS0VWMOSWO,0.941176,5.0,Written by Elizabeth Crary (a parent educator ...
...,...,...,...,...,...,...
2999892,0425200736,Echoes (Berkley Sensation),AFVQZQ8PW0L,0.800000,5.0,"Mountain Bend, California elementary school pr..."
2999935,0786182431,Very Bad Deaths: Library Edition,A2CR57GAJKNWVV,0.750000,4.0,Russell Walker wants to be left alone to die--...
2999937,0786182431,Very Bad Deaths: Library Edition,A1I2O9Y3X3HXLS,1.000000,5.0,Very Bad Deaths (2004) is the first SF novel i...
2999949,0786182431,Very Bad Deaths: Library Edition,AFVQZQ8PW0L,0.714286,5.0,"Fiftyish Canadian Russell Walker writes ""The F..."
2999979,B00085PL4C,"Old Quebec,: The fortress of New France,",A32ZKBXJJ45BRY,0.666667,3.0,"""Old Quebec: Fortress Of New France"" is a repr..."

In [ ]:
y = filtered_rating.groupby('book_title').count()['rating']>=25
famous_books = y[y].index

In [ ]:
final_ratings = filtered_rating[(filtered_rating['book_title'].isin(famous_books))]

In [ ]:
final_ratings

,book_id,book_title,user_id,helpfulness,rating,review
1747,B000N6DDJQ,The Scarlet Letter A Romance,AUM3YMZ0YRJE0,0.500000,5.0,"WHen I finally started reading this classic, I..."
1807,B000N6DDJQ,The Scarlet Letter A Romance,AMKZHBOK7VMQR,1.000000,5.0,Hawthorne wrote a masterful work of historical...
1820,B000N6DDJQ,The Scarlet Letter A Romance,AWLFVCT9128JV,NaN,4.0,I don't suppose anything can ruin a book more ...
1829,B000N6DDJQ,The Scarlet Letter A Romance,ABN5K7K1TM1QA,0.904762,5.0,"""All have sinned and fall short of the glory o..."
1830,B000N6DDJQ,The Scarlet Letter A Romance,A3IKBHODOTYYHM,0.866667,4.0,I think the many readers who were forced to pa...
...,...,...,...,...,...,...
2999629,B000P91JYW,Jane Eyre,A1D2C0WDCSHUWZ,0.833333,5.0,It's hard to imagine a better gothic romance t...
2999631,B000P91JYW,Jane Eyre,A14OJS0VWMOSWO,0.900000,5.0,Amanda Root's rendition of Charlotte Bronte's ...
2999633,B000P91JYW,Jane Eyre,A1D2C0WDCSHUWZ,1.000000,5.0,It's hard to imagine a better gothic romance t...
2999641,B000P91JYW,Jane Eyre,A1T17LMQABMBN5,1.000000,5.0,Charlotte Bronte created quite an admirable he...
2999646,B000P91JYW,Jane Eyre,AJQ1S39GZBKUG,1.000000,5.0,Concerning on English classic novels `Jane Eyr...

In [ ]:
final_ratings.book_title.nunique()

407

In [ ]:
final_ratings.book_id.nunique()

842

In [ ]:
#final_ratings.to_csv('final_ratings.csv',index=False)

final_ratings.to_csv('/content/drive/My Drive/final_rating_content_based.csv', index=False)

In [ ]:
!ls /content/

books_clean.csv  drive	sample_data